/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.fit-parent-width {
     max-width: 100%;
     
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: white;
}

ul.nav li {
    padding: 20px 0px;
}

.nav li a {
    color: white !important;
}

.nav li:hover {
    background-color: #1F1F1F;
}

.navbar {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #222222;
}


/*MAIN HEADER*/

.main, {
    margin: 0px;
    padding: 0px;
    height: 550px;
}

.jumbotron, .main {
    background-color: #1F1F1F;
}

.jumbotron h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    color: white;
}

#mainScreenshot {
    background-color: #EEEEEE;
}

#mainScreenshot img {
    position:relative;
    margin-top: -100px;
    margin-bottom: 30px;
}

.breaker {
    margin: 0px 0px 20px 0px;
    background-color: #2F9FE4;
}

.breaker h1 {
    color: white;
    padding: 15px;
    margin-top: 0px;
}

/* MAIN CONTENT */
.content h2 {
    color: #2F9FE4;
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
}

.content.container .row {
    margin-bottom: 40px;
}