<template name="dashboard_value">
	<tr>
		<th>{{community}}</th>
		<td class="text-right">{{displayBytes bytes}}</td>
	</tr>
</template>

<template name="dashboard_chart">
    <div class="chart" style="width:100%; height:400px;"></div>
</template>

<template name="dashboard_top_user">
	<tr>
    	<td><a href="{{pathFor 'user'}}">{{username}}</a></td>
    	<td class="text-right">{{displayBytes communities.[58698:102]}}</td>
	</tr>
</template>

<template name="dashboard_chart_formatter">
	<strong><h4>{{ series.name }}</h4></strong><br />
	{{point.day}}<br />
	{{x}}<br />
	{{displayBytes y}} <br />
</template>

<template name="dashboard_totals">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-info-circle fa-fw"></i>
                {{title}}
            </div>
            <table class="table table-condensed">
	            <tbody>
	                {{#each values}}
	                    {{> dashboard_value}}
	                {{/each}}
	            </tbody>
            </table>
        </div>
    </div>
</template>

<template name="dashboard">
    <div class="page-header">
        <h3>Traffic Dashboard</h3>
    </div>
	<div class="row">
        {{> dashboard_totals title="Traffic Today" values=todaysTotals}}
        {{> dashboard_totals title="Traffic This Week" values=weeklyTotal}}
        {{> dashboard_totals title="Traffic This Month" values=monthsTotals}}
        {{> dashboard_totals title="Traffic This Year" values=yearlyTotal}}
	</div>
	<div class="row">
	    <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                    Daily Traffic History (30 days)
                </div>
                <div class="panel-body">
                    {{> dashboard_chart}}
                </div>
            </div>	
	    </div>
	    <div class="col-md-3">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <i class="fa fa-female fa-fw"></i>
	                This Weeks Top 20 Users (Off-Net)
	            </div>
	            <table class="table table-condensed">
	            	<tbody>
	                    {{#each weekly_top_user}}
		                    {{> dashboard_top_user}}
	                    {{/each}}
	               </tbody>
	            </table>
	        </div>
	    </div>
	</div>
</template>
