<template name="dashboard_value">
    <li><strong>{{community}}</strong><div class="pull-right">{{displayBytes bytes}}</div></li>
</template>

<template name="dashboard_graph">
    <div id="dailytraffic" style="width:100%; height:400px;"></div>
</template>

<template name="dashboard_top_user">
    <li><a href="{{pathFor 'user'}}">{{username}}</a> - [{{displayBytes communities.[58698:102]}}]</li>
</template>

<template name="dashboard_chart_formatter">
	<strong><h4>{{ series.name }}</h4></strong><br />
	{{point.day}}<br />
	{{x}}<br />
	{{displayBytes y}} <br />
</template>

<template name="dashboard_totals">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-info-circle fa-fw"></i>
                {{title}}
            </div>
            <div class="panel-body">
                <ul class="no-bullet">
                    {{#each values}}
                        {{> dashboard_value}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>

<template name="dashboard">
    <div class="page-header">
        <h3>Traffic Dashboard</h3>
    </div>
	<div class="row">
        {{> dashboard_totals title="Traffic Today" values=todaysTotals}}
        {{> dashboard_totals title="Traffic This Week" values=weeklyTotal}}
        {{> dashboard_totals title="Traffic This Month" values=monthsTotals}}
        {{> dashboard_totals title="Traffic This Year" values=yearlyTotal}}
	</div>
	<div class="row">
	    <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                    Daily Traffic History (30 days)
                </div>
                <div class="panel-body">
                    {{> dashboard_graph}}
                </div>
            </div>	
	    </div>
	    <div class="col-md-4">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                <i class="fa fa-female fa-fw"></i>
	                This Weeks Top 20 Users (Off-Net)
	            </div>
	            <div class="panel-body">
	                <ul>
	                    {{#each weekly_top_user}}
		                    {{> dashboard_top_user}}
	                    {{/each}}
	               </ul>
	            </div>
	        </div>
	    </div>
	</div>
</template>
