<template name="report_user_year">
	<div class="row padding-10">
	    <div class="page-header">
	        <h2>User Traffic Breakdown <small>For Year {{year}}</small></h2>
	    </div>
	
	    {{> downloadReport}}
	
	    <table class="table table-striped">
	        <thead>
	            <tr>
	                <th>Username</th>
	                <th>Local</th>
	                <th>On-Net</th>
	                <th>Off-Net</th>
	                <th>Total</th>
	            </tr>
	        </thead>
	        <tbody>
	            {{#each totals}}
	            <tr>
	                <td><a href="{{pathFor 'user'}}">{{username}}</a></td>
	                <td>{{bytes local}}</td>
	                <td>{{bytes onnet}}</td>
	                <td>{{bytes offnet}}</td>
	                <td>{{bytes total}}</td>
	            </tr>
	            {{/each}}
	        </tbody>
	    </table>
	    <p>ToDo:  Scrolling load</p>
	</div>
</template>

