<template name="report_months">
<div class="row padding-10">
    <div class="page-header">
        <h2>Monthly Traffic Breakdown <small>for {{year}}</small></h2>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Local</th>
                <th>On-Net</th>
                <th>Off-Net</th>
                <th>Total</th>
                <th>User Report</th>
            </tr>
        </thead>
        <tbody>
            {{#each totals}}
            <tr>
                <td><a href="{{pathFor 'report_days' year=year month=month}}">{{date}}</a></td>
	                <td>{{displayBytes local}}</td>
	                <td>{{displayBytes onnet}}</td>
	                <td>{{displayBytes offnet}}</td>
	                <td>{{displayBytes total}}</td>
                <td><a href='{{pathFor 'report_user_month' year=year month=month}}'><i class="fa fa-users"></i></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</template>

