<template name="report_months">
    <div class="page-header">
        <h2>Monthly Traffic Breakdown <small>for {{year}}</small></h2>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
				{{#each categoriesWithTotals 'yes'}}
					<th>{{category}}</th>
				{{/each}}
                <th>User Report</th>
            </tr>
        </thead>
        <tbody>
            {{#each totals}}
            <tr>
                <td><a href="{{pathFor 'report_days' year=year month=month}}">{{date}}</a></td>
				{{#each communitySummary communities 'yes'}}
					<td>{{displayBytes communitySummaryBytes}}</td>
				{{/each}}
                <td><a href='{{pathFor 'report_user_month' year=year month=month}}'><i class="fa fa-users"></i></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>

