<template name="report_days">
    <div class="page-header">
        <h2>Traffic Breakdown <small>For {{date_pretty}}</small></h2>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
				{{#each categoriesWithTotals 'yes'}}
					<th>{{category}}</th>
				{{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each totals}}
            <tr>
                <td><a href="{{pathFor 'report_user_day' year=year month=month day=day}}">{{date}}</a></td>
				{{#each communitySummary communities 'yes'}}
					<td>{{displayBytes communitySummaryBytes}}</td>
				{{/each}}

            </tr>
            {{/each}}
        </tbody>
    </table>
</template>
