<template name="report_user_year">
    <div class="page-header">
        <h2>User Traffic Breakdown <small>For {{year}}</small>{{> downloadReport}}</h2>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
				{{#each categoriesWithTotals 'yes'}}
					<th>{{category}}</th>
				{{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each totals}}
            <tr>
                <td><a href="{{pathFor 'user'}}">{{username}}</a></td>
				{{#each communitySummary communities 'yes'}}
					<td>{{displayBytes communitySummaryBytes}}</td>
				{{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>

