<template name="layout_noaccess">
	<body>
	    <div id="wrapper">
	        <div class="navbar navbar-default navbar-static-top">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="/">Internet Usage</a>
	            </div>
	            <div class="navbar-collapse collapse">
	            	<ul class="nav navbar-nav">
	            	</ul>
		            <ul class="nav navbar-nav navbar-right">
					    {{> loginButtons}}
		            </ul>
	            </div>	
	        </div>
				
	        <div id="page-wrapper">
                {{> yield}}
	        </div>

			<div class="span12 text-center" style="padding-top: 90px">
			    <i class="fa fa-lock fa-6"></i>
			    <p>You must be logged in and have been granted the appropriate permission to view this page</p>
			</div>
	    </div>
	</body>
</template>
