<template name="layout">
	<body>
        <div class="navbar navbar-default" role="navigation">
        	<div class="container-fluid">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="/">Internet Usage</a>
	            </div>
	            <div class="navbar-collapse collapse">
	            	<ul class="nav navbar-nav">
	            		<li class="{{active 'dashboard'}}"><a href="{{pathFor 'dashboard'}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
						<li class="{{active 'report'}}"><a href="{{pathFor 'report_years'}}"><i class="fa fa-table fa-fw"></i> Reports</a></li>
	            	</ul>
		            <ul class="nav navbar-nav navbar-right">
		            	<!-- NYI -->
			            <!-- {{> layout_alerts}} -->
			            
					    {{> loginButtons}}
		            </ul>
		            <form class="navbar-form navbar-right user-search">
		            	<input type="text" class="form-control" placeholder="User lookup...">
		            </form>
	            </div>	
	        </div>
        </div>

        <div class="container-fluid">
            {{> yield}}
        </div>
	</body>
</template>

<template name="layout_noaccess">
	<body>
        <div class="navbar navbar-default" role="navigation">
        	<div class="container-fluid">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="/">Internet Usage</a>
	            </div>
	            <div class="navbar-collapse collapse">
		            <ul class="nav navbar-nav navbar-right">
					    {{> loginButtons}}
		            </ul>
	            </div>	
	        </div>
        </div>

        <div class="container-fluid">
			{{> yield}}
        </div>
	</body>
</template>

<template name="layout_noaccess_noaccess">
	<div class="span12 text-center" style="padding-top: 90px">
	    <i class="fa fa-lock fa-6" style="font-size:20em"></i>
	    <p>You must be logged in and have been granted the appropriate permission to view this page</p>
	</div>
</template>

<template name="not_found">
	<div class="text-center" style="padding-top: 90px">
	    <i class="fa fa-question-circle" style="font-size:20em"></i>
	    <p>We couldn't find the page you were trying to access.</p>
	</div>
</template>

<template name="loading">
	<div class="text-center" style="padding-top: 90px">
	    <i class="fa fa-refresh" style="font-size:20em"></i>
	    <p>Loading, one moment please.</p>
	</div>
</template>

<template name="layout_alerts">
	<li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
	    </a>
	    <ul class="dropdown-menu dropdown-alerts">
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-comment fa-fw"></i> New Comment
	                    <span class="pull-right text-muted small">4 minutes ago</span>
	                </div>
	            </a>
	        </li>
	        <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
	                    <span class="pull-right text-muted small">12 minutes ago</span>
	                </div>
	            </a>
	        </li>
	        <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-envelope fa-fw"></i> Message Sent
	                    <span class="pull-right text-muted small">4 minutes ago</span>
	                </div>
	            </a>
	        </li>
	        <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-tasks fa-fw"></i> New Task
	                    <span class="pull-right text-muted small">4 minutes ago</span>
	                </div>
	            </a>
	        </li>
	        <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
	                    <span class="pull-right text-muted small">4 minutes ago</span>
	                </div>
	            </a>
	        </li>

	        <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-chain-broken fa-fw"></i> User ABC Throttled
	                    <span class="pull-right text-muted small">4 minutes ago</span>
	                </div>
	            </a>
	        </li>
	        <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-chain-broken fa-fw"></i> User XYZ Throttled
	                    <span class="pull-right text-muted small">2 days ago</span>
	                </div>
	            </a>
	        </li>


	        <li class="divider"></li>
	        <li>
	            <a class="text-center" href="#">
	                <strong>See All Alerts</strong>
	                <i class="fa fa-angle-right"></i>
	            </a>
	        </li>

	    </ul>
	    <!-- /.dropdown-alerts -->
	</li>
	<!-- /.dropdown -->	
</template>

