<template name="layout">
	<body>
	    <div id="wrapper">
	        <div class="navbar navbar-default navbar-static-top">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="/">Internet Usage</a>
	            </div>
	            <div class="navbar-collapse collapse">
	            	<ul class="nav navbar-nav">
	            	</ul>
		            <ul class="nav navbar-nav navbar-right">
		            	<!-- NYI -->
			            <!-- {{> layout_alerts}} -->
			            
					    {{> loginButtons}}
		            </ul>
	            </div>	
	        </div>
			
            {{> layout_navbar}}
	
	        <div id="page-wrapper">
                {{> yield}}
	        </div>
	    </div>
	</body>
</template>

<template name="layout_navbar">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <form name="user_form" id="user_form">
                        <div class="input-group custom-search-form">
                            <input type="text" name="username" id="username" class="form-control" placeholder="Username...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="submit" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="{{pathFor 'dashboard'}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{pathFor 'report_years'}}">Traffic Usage Reports</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </nav>
    <!-- /.navbar-static-side -->
</template>

<template name="layout_alerts">
	<li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
	    </a>
	    <ul class="dropdown-menu dropdown-alerts">
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-comment fa-fw"></i> New Comment
	                    <span class="pull-right text-muted small">4 minutes ago</span>
	                </div>
	            </a>
	        </li>
	        <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
	                    <span class="pull-right text-muted small">12 minutes ago</span>
	                </div>
	            </a>
	        </li>
	        <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-envelope fa-fw"></i> Message Sent
	                    <span class="pull-right text-muted small">4 minutes ago</span>
	                </div>
	            </a>
	        </li>
	        <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-tasks fa-fw"></i> New Task
	                    <span class="pull-right text-muted small">4 minutes ago</span>
	                </div>
	            </a>
	        </li>
	        <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
	                    <span class="pull-right text-muted small">4 minutes ago</span>
	                </div>
	            </a>
	        </li>

	        <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-chain-broken fa-fw"></i> User ABC Throttled
	                    <span class="pull-right text-muted small">4 minutes ago</span>
	                </div>
	            </a>
	        </li>
	        <li class="divider"></li>
	        <li>
	            <a href="#">
	                <div>
	                    <i class="fa fa-chain-broken fa-fw"></i> User XYZ Throttled
	                    <span class="pull-right text-muted small">2 days ago</span>
	                </div>
	            </a>
	        </li>


	        <li class="divider"></li>
	        <li>
	            <a class="text-center" href="#">
	                <strong>See All Alerts</strong>
	                <i class="fa fa-angle-right"></i>
	            </a>
	        </li>

	    </ul>
	    <!-- /.dropdown-alerts -->
	</li>
	<!-- /.dropdown -->	
</template>

